<ion-header>
  <ion-toolbar>
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Sabor del pacifico</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pacific </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sabor molido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Herencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Oregano</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
